/**
 * Fonts
 */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/poppins-v20-latin-400.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url("./assets/fonts/poppins-v20-latin-400.woff")
      format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/**
 * Variables
 */
:root {
  --font-main: "Poppins", Avenir, Helvetica, Arial, sans-serif;

  --cyan-050: #ecfeff;
  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #67e8f9;
  --cyan-400: #22d3ee;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-800: #155e75;
  --cyan-900: #164e63;

  --white-rich: #fff;
  --white: #f3f3f5;
  --gray-050: #ededf0;
  --gray-100: #e1e1e6;
  --gray-150: #d2d2da;
  --gray-200: #c3c3ce;
  --gray-300: #a4a6b5;
  --gray-400: #86889d;
  --gray-500: #686a84;
  --gray-600: #585a70;
  --gray-650: #515266;
  --gray-700: #494a5c;
  --gray-750: #414253;
  --gray-800: #393a49;
  --gray-850: #31323f;
  --gray-900: #2a2a35;
  --gray-950: #22222b;
  --black: #15151a;
  --black-rich: #000;
}

/**
 * Reset styles.
 */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit;
}

/* Reset margins and paddings on most elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

::selection {
  color: var(--white);
  background: var(--cyan-600);
}

a {
  color: var(--cyan-600);
  transition: color 0.32s, outline 0.32s;
  outline: 1px dotted transparent;
}

a:focus,
a:hover {
  color: var(--emerald-500);
}

a:focus-visible {
  outline: 1px dotted currentColor;
}

/* Reset forms and buttons */
input,
textarea,
select,
button {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
}

input,
textarea,
button {
  border: 1px solid gray;
}

button {
  border-radius: 0;
  padding: 0.75em 1em;
  background-color: transparent;
}

button * {
  pointer-events: none;
}

/* Easy responsive for media elements */
embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
}

/* Useful table styles */
table {
  table-layout: fixed;
  width: 100%;
}

/**
 * Base styles.
 */
body {
  font-family: var(--font-main);
  font-size: 1rem;
  color: var(--gray-600);
  background-color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
}
